body{
    background-color: #3498db;
    text-align: center;
    padding: 10px 0;

}

#clock{
    color: white;
    font-family: "Times New Roman";
    font-size: 125px;
    -webkit-text-stroke: 2px black;
}

h1{
    color: white;
    font-family: "Times New Roman";
}

.js-greeting{
    color: white;
    font-family: "Times New Roman";
    font-size: 100px;
    -webkit-text-stroke: 2px black;

}

.js-weather{
    color: white;
    text-align: right;
}

.clicked {
    color: #e74c3c;
    font-family: "Helvetica";
    text-decoration: underline;
}

.button {
    cursor: pointer;
}

.js-list{
    color: white;
}

.form,
.greeting {
    display: none;
}

.showing {
    display: block;
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}